.settings-modal {
  background: none;
  backdrop-filter: blur(5px);
}

.side-menu {
  border-radius: 10px 0 0 10px;
}

.main-settings {
  border-radius: 0 10px 10px 0px;
}

.active-bar {
  border-radius: 8px 0px 0px 8px;
}
