.round-1{
    color: #428EA1;
    background-color: #F0FCFF;
}
.round-2{
    color:#A14242 ;
    background-color: #FFF0F0;
}
.round-3{
    color: #8842A1;
    background-color: #FAF0FF;
}
.round-4{
    color: #FD8888;
    background-color:#FFF0F0 ;
}
