.workflow-card{
    // box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.06);
    
}

.side-menu{
    background-image: url(../../../assets/dashboardicons/bgside-dash.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activity-border{
    height: 3px;
    background: #5B61F3;
border-radius: 4px 4px 0px 0px;
}

.teammate-stats{
    background-image: url(../../../assets/dashboardicons/empty-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}