<div class="h-screen flex">
  <img class=" fixed top-12 left-12 object-cover w-[119px] h-[30px]" src="assets/kopist-logo.svg"
       alt="logo"/>
  <div class="w-full lg:w-1/2 bg-white flex items-center justify-center p-8">
    <div class="w-full lg:w-8/12 m-auto">
      <h1 class="tall:text-3xl  text-5xl font-semibold pb-6">Reset Password</h1>
      <div class="mt-16">
      </div>
      <form action="" class="my-10" [formGroup]="resetPasswordForm">
        <div class="flex flex-col space-y-10">
          <label for="password" class="relative">
            <p class="opacity-50 text-sm font-normal">Password</p>
            <div class="relative">
              <input formControlName="old_password" id="new_password" name="new_password" [type]="password"
                     class="w-full py-3 border-b border-[#192339]-200  focus:outline-none placeholder:opacity-50 placeholder:text-xl placeholder:font-semibold placeholder:text-[#192339]"
                     placeholder="Enter your password">
              <div (click)="handleShowPassword()" class="cursor-pointer">
                <img *ngIf="showPassword" class="absolute right-0 top-2" src="assets/authicons/eye-show.svg"
                     alt="eye">
                <img *ngIf="!showPassword" class="absolute right-0 top-2"
                     src="assets/authicons/eye-hide.svg" alt="eye">
              </div>
              <!-- <span
                    *ngIf="resetPasswordForm.controls['old_password'].invalid  && (resetPasswordForm.controls['old_password'].dirty || resetPasswordForm.controls['old_password'].touched)"
                    class="error-text"
                    >Please enter your password!
                  </span> -->

              <div
                class="error-text absolute items-center flex left-0 bottom-[-24px] w-full bg-[#FFEEEE] text-[#BE4B49] text-xs py-1 pl-4 border-t border-[#BE4B49]"
                *ngIf="resetPasswordForm.get('old_password')!.hasError('passwordStrength')">
                <img src="assets/authicons/error-icon.svg" alt="e">
                <span class="text-[#BE4B49] text-xs ml-2"> Password must contain at least two of the following: numbers,
                  lowercase letters, uppercase letters, or special characters.
                </span>
              </div>
            </div>

          </label>

          <label for="Confirm Password" class="relative">
            <p class="opacity-50 text-sm font-normal">Confirm Password</p>
            <div class="relative">
              <input formControlName="new_password" id="new_password" name="new_password" [type]="confirmPassword"
                     class="w-full py-3 border-b border-[#192339]-200  focus:outline-none placeholder:opacity-50 placeholder:text-xl placeholder:font-semibold placeholder:text-[#192339]"
                     placeholder="Enter confirm password"
                     [ngClass]="resetPasswordForm.controls['new_password'].invalid  && (resetPasswordForm.controls['new_password'].dirty || resetPasswordForm.controls['new_password'].touched) ? 'placeholder:text-[#BE4B49]':'placeholder:text-[#192339]'">
              <div (click)="handleShowConfirmPassword()" class="cursor-pointer">
                <img *ngIf="showConfirmPassword" class="absolute right-0 top-2"
                     src="assets/authicons/eye-show.svg" alt="eye">
                <img *ngIf="!showConfirmPassword" class="absolute right-0 top-2"
                     src="assets/authicons/eye-hide.svg" alt="eye">
              </div>
              <div
                class="error-text absolute items-center flex left-0 bottom-[-24px] w-full bg-[#FFEEEE] text-[#BE4B49] text-xs py-1 pl-4 border-t border-[#BE4B49]"
                *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('matching') && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)">
                <img src="assets/authicons/error-icon.svg" alt="e">
                <span class="text-[#BE4B49] text-xs ml-2"> Please enter correct password!
                </span>
              </div>
            </div>

          </label>

          <button (click)="onSubmit()"
                  class="w-full py-5 font-semibold text-lg  bg-[#586AF6] rounded-lg  inline-flex space-x-2 items-center justify-center">

            <span class="text-white">Reset Password</span>
          </button>
        </div>
      </form>
    </div>

  </div>
  <div class="hidden lg:flex w-full lg:w-1/2
            justify-around items-center overflow-hidden"><img class="min-w-full max-h-full min-h-full object-fill"
                                                              src="assets/authimages/register.png" alt=""
                                                              srcset=""></div>

</div>
