.teammate-stats{
    background-image: url(../../../../assets/team/teammate-stats.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.empty-box{
    background: linear-gradient(0deg, #E2E4EC, #E2E4EC), #E8E8E8;
}