.search-result {
  background: #FFFFFF;
  box-shadow: 10px 24px 54px rgba(15, 13, 35, 0.06);
}

.notification-box {
  background: #FFFFFF;
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 9px 9px
}

.activity-border {
  height: 3px;
  background: #5B61F3;
  border-radius: 4px 4px 0px 0px;
}
